[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/carlwu66
[access "refs/for/refs/*"]
	read = group user/carlwu66
	push = group user/carlwu66
	label-Code-Review = -2..+2 group user/carlwu66
	label-Verified = -1..+1 group user/carlwu66
	rebase = group user/carlwu66
	removeReviewer = group user/carlwu66
	submit = group user/carlwu66
[access "refs/heads/*"]
	read = group user/carlwu66
	create = group user/carlwu66
	push = +force group user/carlwu66
	pushMerge = group user/carlwu66
[access "refs/tags/*"]
	push = +force group user/carlwu66
	pushTag = group user/carlwu66
	pushSignedTag = group user/carlwu66
